**/.classpath
**/.dockerignore
**/.env
**/.env.prod
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
README.md
LICENSE
**/.eslintrc.js
**/.editorconfig
**/.github
charts/
dist/
