{{- if .Values.ingress.enabled -}}
{{- $root := . -}}
{{- $fullName := include "stereo-api.fullname" . -}}
{{- $svcPort := .Values.service.port -}}
apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "stereo-api.labels" . | nindent 4 }}
spec:
  virtualhost:
    fqdn: {{ (index .Values.ingress.hosts 0).host }}
    {{- if (index .Values.ingress.tls 0) }}
    tls:
      secretName: {{ (index .Values.ingress.tls 0).secretName }}
    {{- end }}
    {{- if .Values.httpProxy.corsPolicy }}
    corsPolicy:
      {{- toYaml .Values.httpProxy.corsPolicy | nindent 6 }}
    {{- end }}
  routes:
    {{- range (index .Values.ingress.hosts 0).paths }}
    - conditions:
        - prefix: {{ .path }}
      enableWebsockets: true
      responseHeadersPolicy:
        {{- toYaml $root.Values.httpProxy.responseHeadersPolicy | nindent 8 }}
      services:
        - name: {{ $fullName }}
          port: {{ $svcPort }}
    {{- end }}
  {{- end }}
